@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
    margin: 0px;
    font-family: 'Playfair Display', sans-serif;
}

body > div {
    margin: 8px;
}

img {
    width: 100%;
    height: 100%;
}